<section class="favourites-filter">
    <h1 class="h1-text">Избранное</h1>
    <ul class="filter-list">
        <li>
            <button
                class="filter-list__item body-3-text filter-list__item--active"
            >
                Все
            </button>
        </li>
        <li>
            <button class="body-3-text filter-list__item">Актеры</button>
        </li>
        <li>
            <button class="body-3-text filter-list__item">Фильмы</button>
        </li>
    </ul>
</section>