<div class="modal">
    <button class="modal__button">
      <svg
        id="cross"
        viewBox="0 0 17 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17 1.71821L15.2818 0L8.5 6.78179L1.71821 0L0 1.71821L6.78179 8.5L0 15.2818L1.71821 17L8.5 10.2182L15.2818 17L17 15.2818L10.2182 8.5L17 1.71821Z"
          fill="white"
        />
      </svg>
    </button>
    <div class="modal__title">Добавлено в избранное</div>
    <a href="./favourites.html" class="modal__link">Перейти в избранное</a>
  </div>